*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.wrapper {
    margin: 0 auto;
    max-width: 1450px;
    width: 100%;
    
}
.header {
    background: rgba(255, 144, 14, 0.1);
    background-position: cover;
}
.nav{
    padding: 50px 230px;

}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
.nav-menu ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}
.nav-menu ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
.hero-area{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
}
.hero-img{
   
    padding: 50px 240px ;
}
.quick-feature{
    padding: 85px 300px;
}
.quick-feature .wrapper{
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: space-between;
    
}
.quick-feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}